<% include template/header %>

<div class="container myorderdetail">
    <ul class="breadcrumb">
        <li>
            <a href="#">My accounts</a>
        </li>
        <li>
            <a href="/myorders">My orders</a>
        </li>
        <li class="lastcrumb">
            <a href="#">Order details</a>
        </li>
    </ul>
</div>
<!--    Breadcrumb-->
<div class="container myorderdetail" ng-app="myapp" ng-controller="cancelorder">
    <h4 class="cancelquestion">Are you sure you want to cancel this order?</h4>
    <div class="row">
        <div class="col-sm-8">
            <div class="badge" style="margin-bottom: 15px;">
                <ul class="list-inline orderlist">
                    <li> Order ID :
                        <span class="orderid">
                            <%= data.order_data.o_id %>
                        </span>
                    </li>
                    <li> Order date :
                        <span class="orderdate">
                            <%= moment(data.order_data.o_added_dt).format('MMM Do YYYY'); %>
                        </span>
                    </li>
                    <li> Total Amount :
                        <span class="orderdate">
                            <%= parseFloat(data.order_data.o_total).toFixed(2); %> AED</span>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg"> Delivery Date :
                        <span class="orderdate">
                            <%= moment(data.order_data.o_added_dt).format('MMM Do YYYY'); %>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <h5 class="hidden-md hidden-sm hidden-lg" style="float: left;margin-top: 2px;font-weight: bold;">Product
                details</h5>
            <p class="totalitems">Total items
                <span class="itemcount">
                    <%= data.order_products.length %>
                </span>
            </p>
        </div>
    </div>
    <div class="panel panel-default myorderpanel">
        <% if(typeof data.order_products!="undefined"){
            data.order_products.forEach(function(pro){ 
            %>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <% if(pro.ct_discount_percentage!=null && pro.ct_discount_percentage!=0){%>
                    <p class="discountprice hidden-xs">
                        <%= pro.ct_discount_percentage %>%</p>
                    <% } %>
                    <img src="<%= pro.ct_is_user_bundle==true?'img/byob.png':pro.p_image %>" class="img-responsive productimg">
                </div>
                <div class=" col-md-4 col-sm-3 text-left">
                    <h4>
                        <%= pro.pd_name %>
                    </h4>
                    <% if(typeof pro.product!="undefined"){ %>
                    <ul class="productdesclist hidden-xs">
                        <% pro.product.forEach(function(products){ 
                                    if(pro.ct_is_user_bundle==true){    
                                        %>
                        <li>-
                            <%=products.pd_name %>
                            <span class="productgrade">
                                X
                                <%= products.ubp_qty %>
                            </span>
                        </li>
                        <%}else{ %>
                        <li>-
                            <%=products.pd_name %>
                            <span class="productgrade">
                                X
                                <%= products.ctb_qty %>
                            </span>
                        </li>
                        <% } }) %>
                    </ul>
                    <% } %>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <% if(data.order_data.o_order_status_id!=8 && data.order_data.o_order_status_id!=12 && data.order_data.o_order_status_id!=11){ %>
                    <div class="deliverystate">
                        <p class="progresstext">In progress</p>
                        <p class="packcount">Estimated Delivery:
                            <span class="deliverydate">
                                <%= moment(data.order_data.o_added_dt).add(2, 'days').format('MMM Do YYYY'); %>
                            </span>
                        </p>
                    </div>
                    <% }else if(data.order_data.o_order_status_id==11){ %>
                    <div class="deliverystate">
                        <p class="progresstextc progresstext">Delivered</p>
                        <p class="packcount">On:
                            <span class="deliverydate">
                                <%= moment(data.order_status[data.order_status.length-1].olc_added_dt).format('MMM Do YYYY'); %>
                            </span>
                        </p>
                    </div>
                    <% }else{
                        date= moment(data.order_status[data.order_status.length-1].olc_added_dt ).format('MMM Do YYYY');    
                    %>

                    <div class="deliverystate">
                        <p class="progresstext">
                            <%= data.order_data.o_order_status_id==8?"Cancel requested":"Cancelled" %>
                        </p>
                        <p class="packcount">on :
                            <span class="deliverydate">
                                <%= date %>
                            </span>
                        </p>
                    </div>

                    <% } %>

                </div>
                <div class="col-sm-3 text-center">
                    <% if(pro.pdt_price!=null || pro.pdt_price!=0){ %>
                    <!--<h5 class="offeredprice">
                                    <%= pro.price %> AED</h5>-->
                    <h6 class="price">
                        <%= pro.ct_quantity %> X
                        <%= pro.ct_price %> AED</h6>
                    <% }else{ %>
                    <h6 class="price">
                        <%= pro.ct_quantity %> X
                        <%= pro.price %> AED</h6>
                    <% } %>
                </div>
            </div>

        </div>
        <hr>
        <% });
        } %>


        <div class="panel-footer hidden-md hidden-sm hidden-lg">
            <p class="text-info" style="font-size: 14px;margin: 5px;text-align: center;">
                <i class="fa fa-plus-circle"></i> Show All (
                <%= data.order_products.length %> More product)</p>
        </div>
    </div>
    <!--        progress starts here-->
    <div class="myorderprogress cancellation">
        <% 
        date= moment(data.order_status[data.order_status.length-1].olc_added_dt ).format('MMM Do YYYY');
        if(data.order_data.o_order_status_id==8){ %>
        <p class="color-red text-center"> Order cancel requested on
            <%=date%>
            <p>
                <% } %>
                <% if(data.order_data.o_order_status_id==12){ %>
                <p class="color-red text-center"> Order cancelled on
                    <%=date%>
                    <p>
                        <% } %>
                        <ol class="progress hidden-xs" data-steps="4">
                            <li class="done">
                                <span class="step">
                                    <span>&#10003;</span>
                                </span>
                                <span class="name">
                                    <%= moment(data.order_data.o_added_dt).format('MMM Do YYYY'); %>
                                </span>
                                <span class="subname">Your order successfully placed</span>
                            </li>
                            <% var status=data.order_status[data.order_status.length-1].olc_status_id %>
                            <li class="<%= (status==9 || status==10 || status==11)?'done':'' %>">
                                <span class="step">
                                    <span>&#10003;</span>
                                </span>
                                <%  var shipped=near=deliveried="";
                        data.order_status.forEach(function(sta){
                            if(sta.olc_status_id==9){
                                shipped=moment(sta.olc_added_dt).format('MMM Do YYYY');
                            }
                            if(sta.olc_status_id==10){
                                near=moment(sta.olc_added_dt).format('MMM Do YYYY');
                            }
                            if(sta.olc_status_id==11){
                                deliveried=moment(sta.olc_added_dt).format('MMM Do YYYY');
                            }
                          })
                         %>
                                <span class="name">
                                    <%= shipped!=""?shipped:'Shipped Your order'%>
                                </span>
                                <span class="subname">
                                    <%= shipped!=""?'Shipped Your order':''%>
                                </span>
                            </li>
                            <li class="<%= (status==10 || status==11)?'done':'' %>">
                                <span class="step">
                                    <span>&#10003;</span>
                                </span>

                                <span class="name">
                                    <%= near!=""?near:'Near you'%>
                                </span>
                                <span class="subname">
                                    <%= near!=""?'Near you':''%>
                                </span>
                            </li>
                            <li class="<%= (status==11)?'done':'' %>">
                                <span class="step">
                                    <span>&#10003;</span>
                                </span>
                                <% if(data.order_data.o_order_status_id!=8 && data.order_data.o_order_status_id!=12){ %>
                                <span class="last name">
                                    <%= deliveried!=""?deliveried:moment(data.order_data.o_added_dt).add(5, 'days').format('MMM Do YYYY');%>
                                </span>
                                <span class="subname">
                                    <%= deliveried!=""?'Delivered':'Estimated delivery'%>
                                </span>
                                <% }else if(data.order_data.o_order_status_id==12){ %>
                                <span class="last name">
                                    <%=date%>
                                </span>
                                <span class="subname color-red">
                                    Cancelled
                                </span>
                                <% }else{ %>
                                <span class="last name">
                                    <%=date%>
                                </span>
                                <span class="subname color-red">
                                    Cancel requested
                                </span>
                                <% } %>
                            </li>
                        </ol>

                        <!--            payment and shipping details-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default paymentdiv">
                                    <h5 class="paytitle">Reason for Cancellation</h5>
                                    <form name="cancel_order" id="cancel_order">
                                        <div class="form-group">
                                            <input type="hidden" name="order_id" id="order_id" value="<%= data.order_data.o_id %>">
                                            <select class="form-control" id="sel1" name="cancelmsg">
                                                <option value="">Select reason</option>
                                                <option value="Ordered by mistake">Ordered by mistake</option>
                                                <option value="Order got delayed">Order got delayed</option>
                                                <option value="Already purchased">Already purchased</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group hide" id="custom_reason">
                                            <textarea name="other_reason" id="other_reason" class="form-control"
                                                placeholder="Your reason for cancellation" rows="5"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info cancelbtn">Request Cancel</button>
                                    </form>

                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default shippingdiv">
                                    <h5 class="paytitle">Shipping address </h5>
                                    <p class="deliveryname">
                                        <%= data.order_shipping_address[0].a_name %>
                                    </p>
                                    <p class="deliveryadd">
                                        <%= data.order_shipping_address[0].a_address_1 %>,
                                        <br>
                                        <%= data.order_shipping_address[0].a_city %>
                                        <br> Pincode:
                                        <%= data.order_shipping_address[0].a_pincode %>
                                        <br> Phone:
                                        <%= data.order_shipping_address[0].a_phone %>
                                    </p>
                                </div>
                            </div>

                        </div>


    </div>
</div>


<% include template/footer %>